export(coef.scoreFactory)
export(compare_models)
export(densityplot.scoreFactory)
export(head.liftplot.scoreFactory)
export(head.scoreFactory)
export(liftplot)
export(plot.liftplot.scoreFactory)
export(plot.scoreFactory)
export(plot.var_corr)
export(predict.scoreFactory)
export(print.densityplot.scoreFactory)
export(print.liftplot.scoreFactory)
export(print.plot.liftplot.scoreFactory)
export(print.plot.var_corr)
export(print.scoreFactory)
export(print.summary.scoreFactory)
export(print.var_corr)
export(scoreFactory)
export(summary.scoreFactory)
export(var_corr)
import(Matrix)
import(caret)
import(ggplot2)
import(glmnet)
import(plyr)
import(polycor)
import(reshape2)
import(scales)
import(stringr)
importFrom(Hmisc,rcorr.cens)
